//example 

//append a psudo element after element to clear floats  
@mixin clearfix {
    &::after {
        content: ""; //psudo wont appear without this property
        display: table; 
        clear: both; //clear both floats 
    }
}

// centering with absolute 
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//media queries 

@mixin respond($breakpoint) { //when we call it we will pass a breakpoint 
    @if $breakpoint == phone { //if the breakpoint passed in is phone 
        @media only screen and (max-width: 37.5em) { @content }; //1em = 16px. 600px. if printed, queries dont apply
    }
    @if $breakpoint == tab-port { 
        @media only screen and(max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land { 
        @media only screen and(max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop { 
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
}