//example 

//append a psudo element after element to clear floats  
@mixin clearfix {
    &::after {
        content: ""; //psudo wont appear without this property
        display: table; 
        clear: both; //clear both floats 
    }
}

// centering with absolute 
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}