//SCSS Variables 

//COLORS 
$color-grey-light-1: #f7f7f7; 
$color-grey-light-2: #eee; 


$color-grey-dark: #777; 
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff; 
$color-black: #000; 

//FONT 
$default-font-size: 1.6rem; //used in a lot of places 

//GRID 
$grid-width: 114rem; 
$gutter-vertical: 8rem; //spaces in between rows 
$gutter-horizontal: 6rem; //spaces in between columns 