//SCSS Variables 

//COLORS 
$color-primary: #2E8B57;

$color-grey-light-1: #f7f7f7; 
$color-grey-light-2: #eee; 

$color-grey-dark: #777; 
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff; 
$color-black: #000; 

$color-blue: #77B3F1;

$color-fundera-1: #FFA352; 
$color-fundera-2: #FB7A22;

$color-mediamath-1: #6BA100;
$color-mediamath-2: #0257A0; 

$color-callbox-1: #17DA93;
$color-callbox-2: #1294D7;

//FONT 
$default-font-size: 1.6rem; //used in a lot of places 

//GRID 
$grid-width: 114rem; 
$gutter-vertical: 8rem; //spaces in between rows 
$gutter-horizontal: 6rem; //spaces in between columns 