// .sidebar-videos {
//     padding: 2rem 2rem;
//     margin-left: 5rem;
//     border-radius: 2rem;
//     border: 5px $color-black;
//     display: inline-flex;
//     flex-direction: column;
//     transition: all .2s;

//     &--1 {
//         :hover, 
//         :active {
//             transform: scale(1.2);
//         }
//     }


//     &__title {
//         position: absolute;
//         transform: translate(50%, -50%) translateY(-1rem);
//         text-align: center;
//         z-index: 3;
//     }

//     &__preview {
//         position: relative;
//         height: 8rem;
//         margin-bottom: 2rem;
//         border-bottom: 3px solid red;

//         &--1 {
//             background-image: url(../img/alt-instruction.png);
//             background-size: cover;
//         }

//         &--2 {
//             background-image: url(../img/ShiroMark.png);
//             background-size: cover;
//         }
//     }
// }

// .video-container {
//     display: inline-block;

// }

.projects-container {
    display: flex;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: -15px 16px 17px 7px rgba(0,1,125,0.86);
    background-color: $color-white;

    &__video:not(:first-child) {
        padding-top: 1rem;
    }

    &__video:not(:last-child) {
        border-bottom: 3px solid $color-grey-dark-3;
    }

    &__video {
        justify-content: space-around;
        position: relative;
        text-align: center;
        transition: all .2s;

        &__title {
            position: absolute;
            color: red;
            font-size: 1.7rem;
            text-transform: uppercase;
            top: 50%; //center
            left: 50%; //center
            transform: translate(-50%, 40%); //center on x. y axis - before hover it needs to be further down so we can move it up 
            opacity: 0;
            backface-visibility: hidden;
        }

        &__preview {
            width: 100%;
        }

        &:hover &__title {
            opacity: 1;
            transform: translate(-50%, -50%);
            z-index: 5;
        }

        &:hover &__preview {
            filter: blur(3px) brightness(50%);
        }
    }
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    width: 70%; 

    &__title {
        text-transform: uppercase;
        text-decoration: underline;
        padding-bottom: 2rem;

    }

    &__description {
        padding-bottom: 2rem;
    }
}