.section-experience {
    padding: 2rem 5rem;
    background-color: $color-grey-light-1;
}

.section-work {
    padding: 10rem 3rem;
    background-color: $color-grey-light-2;
}
.section-education {
    padding: 2rem 0;
    height: 80rem;
    background-color: orangered;

    @include respond(phone) {
        background-color: purple;
    }
}
